{% extends "base.html" %} {% block head %}
<title>Student Home</title>
{%endblock%} {% block body %}
<h1>Welcome, Student</h1>
<h2>Name: {{ student.name}}</h2>
<h2>Roll No: {{ student.roll_number }}</h2>
<h2>Department: {{ student.department }}</h2>

<div class="options">
    <a href="/student/attendance" class="button btn-custom">View Attendance</a>
    <br />
    <a href="/student/marks" class="button btn-custom">View Marks</a> <br />
    <a href="/student/performance" class="button btn-custom"
        >View Performance</a
    >
    <br />
</div>
{% endblock %}
